<div class="container">
  <div class="text-center">
    <%= simple_form_for(@article) do |f| %>
      <%= f.input :title %>
      <%= f.input :date, as: :string, input_html: { class: 'datepicker', value:  @article.date.strftime("%d/%m/%Y") } %>
      <%= f.submit %>
    <% end %>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('.datepicker').datepicker({
        todayHighlight: true
      });
      $(".datepicker").datepicker("update", new Date());
    });
  <% end %>
<% end %>