<div class="container">
  <div class="text-center">
    <%= simple_form_for(@article) do |f| %>
      <%= f.input :title %>
      <%= f.input :date, as: :string, input_html: { class: 'datepicker', value:  @article.date_to_string_day_month_year } %>
      <%= f.submit %>
    <% end %>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var dateStr = '<%= @article.date.strftime('%m/%d/%Y') %>';
      console.log(dateStr);
      console.log(typeof(dateStr));
      $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        todayHighlight: true
      });
      $(".datepicker").datepicker("update", new Date(dateStr));
    });
  <% end %>
<% end %>